@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Karla:wght@500&display=swap');

:root{
  --white: #ffffff;
  --redish: #B34700;
  --blackish: #1E1E1E;
  --grayish: #333333;
  --gray: #bfbfbf;
  --grayfont: #666666;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  color:var(--white);
  user-select: none;
}

a{
  text-decoration: none;
}

html{
  font-size: 16px;
}

body{
  min-height: 100vh;
  background-color: var(--blackish);
  overflow-x: hidden;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1em 2em;
}

@media (max-width: 410px) {
  header{
    padding: 1em ;
  }
}

header > p{
  font-size: 1.475rem;
}

header > nav > a{
  text-decoration: none;
  display: inline-block;
  margin: 0 0.7em;
  font-size: 1rem;
  font-weight: lighter;
  transition: color 150ms linear;
}

header > nav > a:hover{
  color: var(--redish);
}

main{
  height: auto;
  display: grid;
  grid-template-columns: 41.66% 1fr;
}

.picture{
  display: flex;
  justify-content: flex-end;
}

.picture > img{
  display: block;
  width: 95%;
  transform: scaleX(-1);
}

.info{
  padding-top: 8em;
}

.info .upperInfo{
  min-height: 80px;
  height: 81px;
  display: flex;
  margin-bottom: 5em;
  
}
.info .upperInfo .hiddenImageContainer {
  height: 180px;
  width: 180px;
  position: relative;
  top: -75%;
  border-radius: 50%;
  background-color: #00061a;
  margin-right: 1em;
 display: none;
  
} 

.info .upperInfo .hiddenImageContainer > img{
  height: 200px;
  transform: scaleX(-1);
  position: absolute;
  top: -1.7em;
  left: -0.5em;
}

.info .upperInfo .name > p{
  display: inline;
  font-size: 3.125rem;
  position: relative;
}

.info .upperInfo .name >p::after{
  content: "";
  height: 0;
  width: 40%;
  border: 1px solid var(--redish);
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
}

.info .upperInfo .name > span{
  font-size: 4.375rem;
  line-height: 4.375rem;
  color: var(--redish);
  margin-right: 30px;
}

.info .seperator{
  height: 100%;
  border: 1px solid var(--gray);
  margin-right: 30px;
}

.info .upperInfo .social-media-buttons{
  height: 100%;
  padding-top:0.7em;
  display: flex;
  align-items: center;
}

.info .upperInfo .social-media-buttons .logo-buttons img{
  width: 40px;
  margin: 0 0.8em;
  cursor: pointer;
}
.info .upperInfo .social-media-buttons .logo-buttons img:first-child {
  margin-left: 0;
}

.info .upperInfo .social-media-buttons .logo-buttons{
  margin-right: 3em;
}

.info .upperInfo .social-media-buttons .download-cv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info .upperInfo .social-media-buttons .download-cv img{
  width: 25px;
}

.info .upperInfo .social-media-buttons .download-cv span{
  font-size: 0.875;
  font-weight: lighter;
  color:var(--gray);
}

.info .short-description{
  margin-bottom: 5em;
}

.info .short-description h1{
  width: 80%;
  font-size: 2.875rem;
  font-family: 'Karla', sans-serif;
}

.info .short-description p{
  font-family: "Karla", sans-serif;
  font-weight: lighter;
  color: var(--grayfont);
  width: 80%;
}

.info .main-buttons{
  height: max-content;
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
  border: 1px solid var(--redish);
  width: max-content;
  cursor: pointer;
  transition: all 150ms linear;
}

.info .main-buttons:hover{
transform: scale(0.9);
}

.info .main-buttons * {
  font-family: "Karla", sans-serif;
  font-size: 1.5625rem;
  color: var(--redish);
}

.info .main-buttons p:first-child{
  padding-right: 0.5em;
  cursor: pointer;
}

.info .main-buttons p:last-child{
  padding-left: 0.5em;
  cursor: pointer;
}

/* home responsiveness section */

@media (max-width: 1460px) {
  .info{
    padding-bottom: 3em;
  }
}

@media (max-width: 1200px) {
  .picture{
    justify-content: center;
  }
  .picture img{
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .info .short-description h1 {
      font-size: 2.5rem;
    }
}

@media (max-width: 1100px) {
  .info .upperInfo .social-media-buttons .logo-buttons img{
      margin: 0 0.4em
    }
.info .upperInfo .social-media-buttons .logo-buttons {
    margin-right: 1em;
  }
  
}
@media (max-width: 1085px) {
  .info .short-description h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .picture{
    display: none;
  }
  main{
    grid-template-columns:  1fr;
    padding: 0 3em;
  }
    .info .upperInfo .hiddenImageContainer{
    display: initial;
  }
    .info .short-description h1 {
      font-size: 2.5rem;
    }

    .info .short-description{
      margin-bottom: 3em;
    }
}



@media (max-width: 875px) {
  .info .seperator {
    margin: 0 1em;
  }
    .info .upperInfo .name>span{
      display: none;
    }
}

@media (max-width: 830px) {
  .upperInfo{
   flex-direction: column;
  }
  .info .seperator{
    display: none;
  }
  .info .upperInfo .hiddenImageContainer{
    position: absolute;
    top: 10em;
  }
  .info .upperInfo .name{
    align-self: center;
  }

  .info .upperInfo .social-media-buttons{
    align-self: center;
  }
    .info .upperInfo .social-media-buttons .logo-buttons img {
      margin: 0 1em
    }

}

@media (max-width: 800px) {
  .info .upperInfo .name {
      align-self: flex-end;
      margin-right: 10em;
    }
  
    .info .upperInfo .social-media-buttons {
      align-self: flex-end;
      margin-right: 10em;
    }
}

@media (max-width: 760px) {
  .info .upperInfo .name {
      margin-right: 5em;
    }
  
    .info .upperInfo .social-media-buttons {
      margin-right: 5em;
    }
}

@media (max-width: 735px) {
  .info .short-description h1 {
      font-size: 2rem;
    }
}

@media (max-width: 680px) {
  .info .upperInfo .name {
      margin-right: 1em;
    }
  
    .info .upperInfo .social-media-buttons {
      margin-right: 1em;
    }
}

@media (max-width:610px) {
  .info .short-description h1, .info .short-description > p{
    width: 90%;
  }
}

@media (max-width: 600px) {
  .info .upperInfo .hiddenImageContainer img{
    height: 150px;
    position: absolute;
  }
  .info .upperInfo .hiddenImageContainer{
    position: absolute;
    top: 9em;
    width: 120px;
    height: 120px;
    aspect-ratio: 4 / 4;
  }
  .info .upperInfo .name {
    margin-right: 7em;
  }
  
  .info .upperInfo .social-media-buttons {
    margin-right: 7em;
  }
}

@media (max-width: 575px) {
  .info .upperInfo .name {
      margin-right: 6em;
    }
  
    .info .upperInfo .social-media-buttons {
      margin-right: 6em;
    }
}

@media (max-width:555px) {

  .info .short-description h1,
  .info .short-description>p {
    width: 100%;
  }
  .info .short-description > p{
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .info .upperInfo .name {
      margin-right: 4em;
    }
  
    .info .upperInfo .social-media-buttons {
      margin-right: 4em;
    }
}

@media (max-width:510px) {

  .info .short-description h1{
    font-size: 1.8rem;
  }
}

@media (max-width: 514px) {
  .info .upperInfo .name {
      margin-right: 2em;
    }
  
    .info .upperInfo .social-media-buttons {
      margin-right: 2em;
    }
}
@media (max-width: 490px) {
  .info .upperInfo .name {
      margin-right: 0;
    }
  
    .info .upperInfo .social-media-buttons {
      margin-right: 0;
    }
}

@media (max-width:470px) {

  .info .short-description h1 {
    font-size: 1.5rem;
  }
}

@media (max-width:450px) {
  .info .upperInfo .hiddenImageContainer{
    left: 2em;
  }
}
@media (max-width:435px) {
  .info .upperInfo .hiddenImageContainer{
    left: 1em;
  }
}
@media (max-width: 410px) {
  .info{
    padding-top:  2em;
  }
  .info .upperInfo .social-media-buttons .logo-buttons a img{
    width: 35px;
  }
  #dl{
    font-size: 0.8rem;
  }
  .info .upperInfo .hiddenImageContainer{
    display: none;
  }
  .info .upperInfo .name, .info .upperInfo .social-media-buttons{
    align-self: flex-start;
  }
}

/* services section */

.services{
  background-color: var(--grayish);
  padding: 2em 0;
  padding-bottom: 1em;
  height: auto;
}

.services > p{
  font-size: 2.5rem;
  font-family: "Karla", sans-serif;
  text-align: center;
}

.services span{
  font-size: 18;
  color: var(--grayfont);
  display: block;
  text-align: center;
  margin-bottom: 1.5em;
}

.services .cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4%;
  margin-bottom: 2em;
}

.services .cards .card{
  width: 18%;
  aspect-ratio: 4 / 3;
  background-color: var(--blackish);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1em 0.4em 0.4em 0.4em;
  border-radius: 1em;
  transition: all 150ms linear;
}

.services .cards .card:hover{
  transform: scale(0.9);
}

.services .cards .card * {
    font-family: "Karla", sans-serif;
}

.services .cards .card .forte{
  font-size: 1.5625rem;
  margin: 0.4em 0 0 0;
}
.services .cards .card .technologies{
  font-size: 1rem;
  color: var(--gray);
}

.services .collections{
  display: grid;
  grid-template-columns: 17% 1fr 17%;
  height: 70vh;
}

.services .collections .leftArrow, .services .collections .rightArrow{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.services .collections .leftArrow img,
.services .collections .rightArrow img{
  cursor: pointer;
}

.services .collections .rightArrow{
  justify-content: flex-start;
}

.services .collections .leftArrow img{
transform:  scaleX(-1);
}

.services .collections .collectionPhoto > p{
  text-align: center;
  font-size: 2rem;
}

.services .collections .collectionPhoto .photoContainer{
  height: 70%;
  padding: 0 1em ;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5em 0.5em;
  grid-template-areas: 
  "first second"
  "first third"
  ;
}

.services .collections .collectionPhoto .photoContainer .first{
  grid-area: first;
}
.services .collections .collectionPhoto .photoContainer .second{
  grid-area: second;
}
.services .collections .collectionPhoto .photoContainer .third{
  grid-area: third;
}
.services .collections .collectionPhoto .photoContainer > small{
  font-size: 10rem;
}
 .first {
  background: no-repeat center center / cover;
}
 .second {
  background: no-repeat center center / cover;
}
.third{
background: url("./media/classfax3.png") no-repeat center center / cover;
}

.project-description{
  display: inline-block;
  font-size: 1rem;
  margin: 0.2em 1em 1em 1em;
  font-weight: lighter;
  color: var(--grayfont);
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}
.pagination .active{
  width: 25px;
}

.pagination img:not(.active){
  width: 20px;
}
/* services respopsnive section */

@media(max-width: 1400px){
  .services .cards .card{
    width: 20%;
  }
}
@media(max-width: 1300px){
  .services .cards .card{
    width: 23%;
    margin-top: 1em;
  }
}
@media (max-width:1200px) {
  .services .collections {
      grid-template-columns: 14% 1fr 14%;
    }
}
@media(max-width: 1100px){
  .services .cards .card{
    width: 26%;
  }
  .services .collections {
    grid-template-columns: 10% 1fr 10%;
  }
}
@media (max-width: 1000px) {
  .services .collections {
      grid-template-columns: 7% 1fr 7%;
  }
}
@media(max-width: 970px){
  .services .cards .card{
    width:30%;
  }
}
@media(max-width: 900px){
  .services .cards .card{
    width:33%;
  }
}
@media (max-width: 800px) {
.services .collections .collectionPhoto .photoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }

  .services .collections .collectionPhoto .photoContainer div{
    flex: 1;
  }
}
@media (max-width: 745px) {
  .services .collections .leftArrow img, .services .collections .rightArrow img{
    width: 30px;
  }
}
@media(max-width: 780px){
  .services .cards .card{
    width:37%;
  }
}
@media(max-width: 675px){
  .services .cards .card{
    width:41%;
  }
}
@media(max-width: 580px){
  .services .cards .card{
    width:45%;
  }
}

@media (max-width: 550px) {
  .services .cards .card .forte{
    font-size: 1.40rem;
  }
  .services .cards .card .technologies{
    font-size: 0.8rem;
  }
}

@media (max-width: 510px) {
  .services .cards .card img{
    width: 40px;
  }
}

@media (max-width: 490px) {
  .services .cards .card .forte {
    font-size: 1.30rem;
  }

  .services .cards .card .technologies {
    font-size: 0.7rem;
  }
}
@media (max-width: 455px) {
  .services .cards .card .forte {
    font-size: 1.20rem;
  }
}
@media (max-width: 435px){
  #project-title{
    font-size: 1.8rem;
  }
}
@media (max-width: 420px) {
  .services .cards .card:last-child .forte {
    font-size: 1.15rem;
  }
}
@media (max-width: 430px) {
  p#title1, p#title2, p#title3{
    font-size: 2.3rem;
  }
}

/* contact section */
#contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em 0;
  padding-top: 2em;
}

#contact *{
  font-family: "Karla", sans-serif;
}

#contact > p{
  font-size: 2.5rem;
  font-weight:lighter;
}

#contact .phrase{
  font-size: 1.125rem;
  color: var(--grayfont);
  text-align: center;
}

.contact-boxes{
  width: 76.52%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 2em 0;
}

.contact-boxes .box{
  width: 26.85%;
  height: auto;
  background-color: var(--grayish);
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 150ms linear;display: flex;
  align-items: center;
  padding: 1em 0.6em;
  gap: 1em;
}

.contact-boxes .box:hover{
  border: 1px solid var(--redish);
  transform: scale(0.9);
}

.contact-boxes .box > p{
  font-size: 1.125rem;
  word-break: break-all;
}

/* contact responsiveness */
@media(max-width: 1200px){
  .contact-boxes .box {
      width: 30%;
    }
}
@media(max-width: 1070px){
  .contact-boxes .box {
      width: 40%;
    }
}
@media(max-width: 790px){
  .contact-boxes .box {
      width: 45%;
    }
}
@media(max-width: 710px){
  .contact-boxes .box img{
    width: 40px;
  }
}
@media (max-width: 640px) {
  .contact-boxes {
      width: 80.52%;
    }
}
@media (max-width: 610px) {
  .contact-boxes {
      width: 90%;
    }
}
@media (max-width: 550px) {
  .contact-boxes {
      width: 100%;
    }
}
@media(max-width: 490px) {
  .contact-boxes .box {
    width: 80%;
  }
}